* {
    background-color: black;
    font-family: serif sans-serif ;
}
.container{
    background-color: antiquewhite;

}
.header{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: crimson;
}